@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {
  --main-bg: hsl(222, 26%, 31%);
  --toggle-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);
  --key-color: hsl(225, 21%, 49%);
  --key-shadow: hsl(224, 28%, 35%);
  --toggle-bg2: hsl(6, 63%, 50%);
  --key-bg: hsl(30, 25%, 89%);
  --key-shadow2: hsl(28, 16%, 65%);
  --text: hsl(221, 14%, 31%);
  --white: hsl(0, 0%, 100%);
  --font: 'League Spartan', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  background: var(--main-bg);
}

body {
  font-family: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  height: 100dvh;
}

header {
  display: flex;
  font-family: var(--font);
  font-weight: 700;
  font-size: 32px;
}

.top-container {
  display: flex;
  justify-content: stretch;
  color: var(--key-bg);
}

.display-text {
  height: 6rem;
  max-width: 100%;
  background: var(--screen-bg);
  border-radius: 0.6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.key-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.key-btns,
.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  background: var(--toggle-bg);
  padding: 0.3rem;
}

.btn-number,
.operator {
  padding: 1rem;
  border-radius: 0.5rem;
  min-width: 5.3rem;
  border: none;
  margin: 0.5rem;
  font-size: 32px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.btn-number,
#plus,
#minus,
#dot,
#divide,
#multiply {
  background: var(--key-bg);
  color: var(--text);
  box-shadow: 0 4px var(--key-shadow2);
}

#del,
#reset,
#equals {
  text-transform: uppercase;
  color: var(--white);
}

#del,
#reset {
  background: var(--key-color);
  box-shadow: 0 4px var(--key-shadow);
}

.fifth-row {
  width: 100%;
  margin-bottom: 0.7rem;
}

#reset {
  width: 48%;
}

#equals {
  width: 43%;
  background: var(--toggle-bg2);
  box-shadow: 0 4px hsl(6 70% 34%);
}

.display p{
  display: flex;
   font-size: 32px;
   font-weight: 700;
   text-align: end;
   color:var(--white);
   justify-content: end;
   align-items: center;
}

main{
  margin-bottom: 5rem;
}

@media  only screen and (min-width: 375px) {
  .btn-number,
  .operator {
    padding: 1rem;
    border-radius: 0.5rem;
    min-width: 4.5rem;
    border: none;
    margin: 0.5rem;
    font-size: 32px;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
  }

  #del{
    max-width:1rem;
    font-size: 20px;
  }
  
  #reset {
    width: 45%;
  }
  
  #equals {
    width: 43%;
    background: var(--toggle-bg2);
    box-shadow: 0 4px hsl(6 70% 34%);
  }

}
